<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/background'); %>
        <div class="wrapper">
            <header id="up">
                <%- include('../partials/header'); %>
            </header>
            <div class="content">
                <%- include('../partials/left_aside'); %>
                <main>
                    <%- include('../fragments/home'); %>
                </main>
                <aside class="right_aside">
    
                </aside>
            </div>
            <footer id="down">

            </footer>
        </div>
    </body>
</html>
