<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/background'); %>
        <div class="wrapper">
            <header id="up">
                <%- include('../partials/header'); %>
            </header>
            <div class="content">
                <aside class="side">
                    <%- include('../partials/left_aside'); %>
                    <div class="path">
                        <h3>Path:</h3>
                        <div class="btns"></div>
                    </div>
                </aside>
                <main></main>
                <aside class="side reverse">
                    <div class="options">
                        <div class="anchors">
                            <img src="imgs/background/up.png" alt="" class="up">
                            <img src="imgs/background/down.png" alt="" class="down">
                        </div>
                        <div class="colors">
                            <h4 id="btn_color">Background color</h4>
                            <div class="opt">
                                <p class="color" id="1">Blue</p>
                                <p class="color" id="2">Red</p>
                                <p class="color" id="3">Yellow</p>
                                <p class="color" id="4">Green</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>
